﻿@model IEnumerable<TrainerGroupViewModel>
@{
    ViewData["Title"] = "Trainers";
}

@foreach (TrainerGroupViewModel group in @Model)
{
    <div class="card shadow-sm">
        <div class="card-header">
            <b>@group.Group.Name</b>
        </div>
        <div class="card-body">
            <div class="row">
                @foreach (Trainer trainer in group.Trainers)
                {
                    string img64 = Convert.ToBase64String(trainer.User.Photo);
                    string elementId = $"user{trainer.Id}";

                    <div class="col-2">
                        <img src="@($"data:image/png;base64,{img64}")" alt="@trainer.User.FirstName" /><br />
                        <small>@trainer.User.FullName</small>
                        <a href="#@elementId" data-toggle="modal">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>

                    <partial name="TrainerInfoPartial" model="@trainer" />
                }
            </div>
        </div>
    </div>
}