﻿@model Trainer
@{
    string img64 = Convert.ToBase64String(Model.User.Photo);
    string elementId = $"user{Model.Id}";
}

<div id="@elementId" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.User.FullName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-auto">
                        <img src="@($"data:image/png;base64,{img64}")" alt="@Model.User.FirstName"/>
                    </div>
                    <div class="col">
                        <label>@Model.Description</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


