﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - CMSys.Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-primary sidebar">
                <div class="sidebar-sticky">
                    <h4 class="sidebar-heading">CMSYS</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Courses" asp-action="Courses">
                                <i class="fas fa-laptop-code"></i>
                                Courses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Trainers" asp-action="Trainers">
                                <i class="fas fa-chalkboard-teacher"></i>
                                Trainers
                            </a>
                        </li>
                    </ul>
                    <hr class="nav hr"/>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Courses" asp-action="CoursesList">
                                <i class="fas fa-list-ul"></i>
                                Course List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Courses" asp-action="CourseGroups">
                                <i class="far fa-window-restore"></i>
                                Course Groups
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Trainers" asp-action="TrainersList">
                                <i class="far fa-address-card"></i>
                                Trainer List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Trainers" asp-action="TrainerGroups">
                                <i class="fas fa-users"></i>
                                Trainer Groups
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Users" asp-action="Users">
                                <i class="fas fa-user-friends"></i>
                                Users
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
        <header>
            <nav class="navbar navbar-light box-shadow">
                <div class="container">
                    <div class="navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="pb-3">
                <h3 class="page-header">@ViewData["Title"]</h3>
                @RenderBody()
            </div>
        </div>
    </main>
    
    <script src="https://kit.fontawesome.com/d2c493077c.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
