﻿@model CoursesViewModel
@{
    ViewData["Title"] = "Courses";
}

<div class="flex-row-reverse">
    <select class="form-select">
        <option value="All">All Types</option>
    </select>
    <select class="form-select">
        <option value="All">All Courses</option>
    </select>
</div>

@foreach (Course course in Model.Courses)
{
    <div class="card">
        <div class="card-body">
            <h2>@course.Name</h2>
        </div>
    </div>
}